
@keyframes slideUp{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
footer{
    width: 100%;
    background: linear-gradient(to right,#00093c, #2d0b00);
    color: #fff;
    padding: 50px 0 30px;
    font-size: 13px;
    line-height: 20px;
    position: relative; 
}
footer .row, .rowContact{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

footer .col, .colContact{
    flex-basis: 25%;
    padding: 10px;
}
footer .col:nth-child(2), footer .col:nth-child(3), .colContact:nth-child(2), .colContact:nth-child(3){
    flex-basis: 15%;
}
.footer_logo{
    width: 80%;
    margin-bottom: 2rem;
}
.footer_about{
    position: relative;
    top: -23px;
}
.colContact h4{
    font-size: 1rem;
}

footer .col h3, .colContact h3{
    width: fit-content;
    margin-bottom: 50px;
    position: relative;
}
.footer_email{
    width: fit-content;
    border-bottom: 1px solid #f66335;
    margin: 20px 0;
}
footer .col ul li, .colContact ul li{
    list-style: none;
    margin-bottom: 12px;
}
footer .col ul li a, .colContact ul li a{
    text-decoration: none;
    color: #fff;
}
.footer-nav-link{
    transition: .5s ease-out;
}
.footer-nav-link:hover{
    color: #303030;
}
@media (max-width: 890px) {
    footer .row, .rowContact{
        flex-direction: column;
        width: 90%;
        align-items: center;
    }
    footer .col, .colContact{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer_logo{
        width: 70%;
    }
    .footer_about{
        width: 80%;
        text-align: center;
    }
    footer .col h3, .colContact h3{
        font-size: 1.2rem;
    }
    .footer_email{
        font-size: 1rem;
    }
    footer .col ul, .colContact ul{
        width: 100%;
        justify-content: space-around;
        display: flex;
        margin: 0 auto;
    }
    .footer-nav-link{
        font-size: 1rem;
        left: 4rem;
    }
    

}

footer .col form, .colContact form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f66335;
    margin-bottom: 50px;
}
footer .col form .icon, .colContact form .icon{
    font-size: 18px;
    margin-right: 10px;
}
footer .col form input, .colContact form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
footer .col form button, .colContact form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
footer .col form button .icon_right, .colContact form button .icon_right{
    font-size: 1.5rem;
    color: #ccc;
}
.social_icons{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.social_icon{
    border-radius: 50%;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    background: #303030;
    padding: .5rem;
    cursor: pointer;
    transition: .5s ease-out;
}
.social_icon:hover{
    background: rgba(153, 13, 153, 0.459);
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 1.2rem auto;
}
footer .copyright{
    text-align: center;
}
.bottom_line{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.colContact .bottom_line{
    margin-top: .5rem;
}
.bottom_line span{
    width: 15px;
    height: 100%;
    background: #f66335;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moveline 2s linear infinite;
}
@keyframes moveline{
    0%{
        left:-20px;
    }
    100%{
        left:100%;
    }
}