body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}
.first-section-merch{
        background-image: url("../img/background\ 3.jpg");
        background-size: cover;
        height: 90vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
}
.first-section-merch h2{
    text-shadow: 0px 0px 20px #242424;
    font-size: 5rem;
    margin: 1rem auto;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
}

.main-ecom{
    width: 100%;
    padding: 5rem;
    height: 100%;
}
.best-seller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 1rem auto;
    overflow: hidden;
}

.seller{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.seller h2{
    color: white;
    font-size: 3rem;
    font-weight: 700;
}

.best-p1 {
    padding: 1rem;
    width: 23%;
    min-width: 150px; 
    box-sizing: border-box;
}

.seller .best-p1 img {
    width: 100%;
    height: 100%;
}

.seller .best-p1 .price {
    display: flex;
    justify-content: space-between;
}


.best-seller .buy-now a {
    text-decoration: none;
    color: white;
}

.seller a:hover {
    color: #f05e8a;
}

.best-seller .buy-now button{
    padding: 10px 15px;
    margin-top: 5px;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #f05e8a;
    color: white;
    border: none;
    border-radius: 15px;
    font-weight: 500;
    border: 1px solid #f05e8a;
    transition: 0.5s;
}

.best-seller .buy-now button:hover,
.best-seller .add-cart button:hover {
    background-color: var(--white);
    font-weight: 600;
}

.best-seller .buy-now button:hover a,
.best-seller .add-cart button:hover a {
    color: #f05e8a;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}
@media (max-width: 890px) {
    .first-section-merch h2{
        font-size: 3rem;
        width: 60%;
        text-align: center;
        margin: 0 auto;
    }
    .main-ecom{
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }
    .seller{
        /* margin: 0 auto; */
        width: 100%;
        justify-content: center;
    }
    .best-seller{
        width: 100%;
        margin: 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .best-seller .buy-now button{
        font-size: .8rem;
    }
    .seller h2{
        color: white;
        font-size: 2rem;
        font-weight: 700;
        margin-top: 2rem;
    }
}